Import all relevant libraries

In [1]:
import pandas as pd

Import the data

In [2]:
sat_scores=pd.read_csv("./Data/2012_SAT_Results.csv")
class_sizes=pd.read_csv("./Data/2010-2011_Class_Size.csv")
demographics=pd.read_csv("./Data/School_Demographics.csv")

In [3]:
class_sizes.head(10)

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15,1.0,15.0,15.0,15.0,ATS,NaN
5,1,M,M015,P.S. 015 Roberto Clemente,02,CTT,-,-,-,17,1.0,17.0,17.0,17.0,ATS,NaN
6,1,M,M015,P.S. 015 Roberto Clemente,03,GEN ED,-,-,-,12,1.0,12.0,12.0,12.0,ATS,NaN
7,1,M,M015,P.S. 015 Roberto Clemente,03,CTT,-,-,-,15,1.0,15.0,15.0,15.0,ATS,NaN
8,1,M,M015,P.S. 015 Roberto Clemente,04,GEN ED,-,-,-,26,2.0,13.0,12.0,14.0,ATS,NaN
9,1,M,M015,P.S. 015 Roberto Clemente,05,GEN ED,-,-,-,27,1.0,27.0,27.0,27.0,ATS,NaN

**Data Cleaning**

There are no missing values in the sat_scores dataset

In [4]:
sat_scores.isnull().sum()

DBN                                0
SCHOOL NAME                        0
Num of SAT Test Takers             0
SAT Critical Reading Avg. Score    0
SAT Math Avg. Score                0
SAT Writing Avg. Score             0
dtype: int64

But the class_sizes dataset has many missing values

In [5]:
class_sizes.isnull().sum()

CSD                                         0
BOROUGH                                     0
SCHOOL CODE                                 0
SCHOOL NAME                                 0
GRADE                                    1484
PROGRAM TYPE                             1484
CORE SUBJECT (MS CORE and 9-12 ONLY)     1484
CORE COURSE (MS CORE and 9-12 ONLY)      1484
SERVICE CATEGORY(K-9* ONLY)              1484
NUMBER OF STUDENTS / SEATS FILLED        1484
NUMBER OF SECTIONS                       1484
AVERAGE CLASS SIZE                       1484
SIZE OF SMALLEST CLASS                   1484
SIZE OF LARGEST CLASS                    1484
DATA SOURCE                              1484
SCHOOLWIDE PUPIL-TEACHER RATIO          26127
dtype: int64

In [6]:
demographics.isnull().sum()

DBN                     0
Name                    0
schoolyear              0
fl_percent           1515
frl_percent          5593
total_enrollment        0
prek                 5363
k                    4193
grade1               4194
grade2               4224
grade3               4296
grade4               4334
grade5               4298
grade6               5558
grade7               5872
grade8               5990
grade9               6101
grade10              6229
grade11              6401
grade12              6562
ell_num               190
ell_percent           112
sped_num               90
sped_percent            0
ctt_num              1397
selfcontained_num    1000
asian_num               0
asian_per               0
black_num               0
black_per               0
hispanic_num            0
hispanic_per            0
white_num               0
white_per               0
male_num               41
male_per                0
female_num             24
female_per              0
dtype: int64

In [7]:
class_av = class_sizes[class_sizes["GRADE "] == "09-12"]
class_av= class_av[class_av["PROGRAM TYPE"] == "GEN ED"]
class_av.reset_index(inplace=True)
class_av=pd.DataFrame(class_av)

The demographics dataset had data for many years. So just keep the year you need.

In [8]:
demographics.head(10)
demographics= demographics[demographics["schoolyear"] == 20112012]

In [9]:
demographics.head(10)

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9
42,01M064,PS 064 ROBERT SIMON,20112012,NaN,76.9,324,27,54,50,42,...,76,23.5,193,59.6,24,7.4,184.0,56.8,140.0,43.2
49,01M110,PS 110 FLORENCE NIGHTINGALE,20112012,NaN,52.5,440,34,67,75,65,...,58,13.2,194,44.1,124,28.2,219.0,49.8,221.0,50.2
56,01M134,PS 134 HENRIETTA SZOLD,20112012,NaN,84.1,369,36,67,57,55,...,74,20.1,181,49.1,8,2.2,177.0,48.0,192.0,52.0
63,01M137,PS 137 JOHN L BERNSTEIN,20112012,NaN,82.2,230,18,43,43,39,...,57,24.8,123,53.5,7,3.0,111.0,48.3,119.0,51.7
70,01M140,PS 140 NATHAN STRAUS,20112012,NaN,82.1,407,16,37,35,39,...,66,16.2,317,77.9,7,1.7,216.0,53.1,191.0,46.9

In [10]:
pd.DataFrame(demographics.columns.values)

                    0
0                 DBN
1                Name
2          schoolyear
3          fl_percent
4         frl_percent
5    total_enrollment
6                prek
7                   k
8              grade1
9              grade2
10             grade3
11             grade4
12             grade5
13             grade6
14             grade7
15             grade8
16             grade9
17            grade10
18            grade11
19            grade12
20            ell_num
21        ell_percent
22           sped_num
23       sped_percent
24            ctt_num
25  selfcontained_num
26          asian_num
27          asian_per
28          black_num
29          black_per
30       hispanic_num
31       hispanic_per
32          white_num
33          white_per
34           male_num
35           male_per
36         female_num
37         female_per

Get the data for class sizes

In [11]:
class_sizes

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15,1.0,15.0,15.0,15.0,ATS,NaN
5,1,M,M015,P.S. 015 Roberto Clemente,02,CTT,-,-,-,17,1.0,17.0,17.0,17.0,ATS,NaN
6,1,M,M015,P.S. 015 Roberto Clemente,03,GEN ED,-,-,-,12,1.0,12.0,12.0,12.0,ATS,NaN
7,1,M,M015,P.S. 015 Roberto Clemente,03,CTT,-,-,-,15,1.0,15.0,15.0,15.0,ATS,NaN
8,1,M,M015,P.S. 015 Roberto Clemente,04,GEN ED,-,-,-,26,2.0,13.0,12.0,14.0,ATS,NaN
9,1,M,M015,P.S. 015 Roberto Clemente,05,GEN ED,-,-,-,27,1.0,27.0,27.0,27.0,ATS,NaN
10,1,M,M015,P.S. 015 Roberto Clemente,0K-09,SPEC ED,-,-,12:1:1,9,1.0,9.0,9.0,9.0,ATS,NaN
11,1,M,M015,P.S. 015 Roberto Clemente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4
12,1,M,M019,P.S. 019 Asher Levy,0K,GEN ED,-,-,-,39,2.0,19.5,18.0,21.0,ATS,NaN
13,1,M,M019,P.S. 019 Asher Levy,0K,CTT,-,-,-,12,1.0,12.0,12.0,12.0,ATS,NaN
14,1,M,M019,P.S. 019 Asher Levy,01,GEN ED,-,-,-,39,2.0,19.5,19.0,20.0,ATS,NaN
15,1,M,M019,P.S. 019 Asher Levy,01,CTT,-,-,-,13,1.0,13.0,13.0,13.0,ATS,NaN
16,1,M,M019,P.S. 019 Asher Levy,02,GEN ED,-,-,-,46,2.0,23.0,22.0,24.0,ATS,NaN
17,1,M,M019,P.S. 019 Asher Levy,03,GEN ED,-,-,-,35,2.0,17.5,17.0,18.0,ATS,NaN
18,1,M,M019,P.S. 019 Asher Levy,04,GEN ED,-,-,-,22,1.0,22.0,22.0,22.0,ATS,NaN
19,1,M,M019,P.S. 019 Asher Levy,04,CTT,-,-,-,24,1.0,24.0,24.0,24.0,ATS,NaN
20,1,M,M019,P.S. 019 Asher Levy,05,GEN ED,-,-,-,22,1.0,22.0,22.0,22.0,ATS,NaN
21,1,M,M019,P.S. 019 Asher Levy,05,CTT,-,-,-,21,1.0,21.0,21.0,21.0,ATS,NaN
22,1,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1,7,1.0,7.0,7.0,7.0,ATS,NaN
23,1,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1:1,11,1.0,11.0,11.0,11.0,ATS,NaN
24,1,M,M019,P.S. 019 Asher Levy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
25,1,M,M020,P.S. 020 Anna Silver,0K,GEN ED,-,-,-,89,4.0,22.3,20.0,23.0,ATS,NaN
26,1,M,M020,P.S. 020 Anna Silver,0K,CTT,-,-,-,22,1.0,22.0,22.0,22.0,ATS,NaN
27,1,M,M020,P.S. 020 Anna Silver,01,GEN ED,-,-,-,69,3.0,23.0,22.0,24.0,ATS,NaN
28,1,M,M020,P.S. 020 Anna Silver,01,CTT,-,-,-,21,1.0,21.0,21.0,21.0,ATS,NaN
29,1,M,M020,P.S. 020 Anna Silver,02,GEN ED,-,-,-,55,3.0,18.3,16.0,21.0,ATS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27581,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313,12.0,26.1,18.0,33.0,STARS,NaN
27582,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289,11.0,26.3,15.0,34.0,STARS,NaN
27583,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128,5.0,25.6,13.0,32.0,STARS,NaN
27584,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Economics,-,59,2.0,29.5,26.0,33.0,STARS,NaN
27585,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,63,2.0,31.5,30.0,33.0,STARS,NaN
27586,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 9,-,14,1.0,14.0,14.0,14.0,STARS,NaN
27587,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 10,-,11,1.0,11.0,11.0,11.0,STARS,NaN
27588,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 11,-,10,1.0,10.0,10.0,10.0,STARS,NaN
27589,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,MATH,Integrated Algebra,-,26,2.0,13.0,12.0,14.0,STARS,NaN
27590,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Earth Science,-,22,2.0,11.0,11.0,11.0,STARS,NaN
27591,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Living Environment,-,25,2.0,12.5,12.0,13.0,STARS,NaN
27592,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Chemistry,-,22,2.0,11.0,11.0,11.0,STARS,NaN
27593,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SOCIAL STUDIES,Global History & Geography,-,36,3.0,12.0,10.0,14.0,STARS,NaN
27594,32,K,K556,Bushwick Leaders High School for Academic Exce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.7
27595,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261,10.0,26.1,17.0,35.0,STARS,NaN
27596,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102,4.0,25.5,17.0,30.0,STARS,NaN
27597,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144,6.0,24.0,21.0,28.0,STARS,NaN
27598,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132,5.0,26.4,19.0,29.0,STARS,NaN
27599,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342,14.0,24.4,19.0,28.0,STARS,NaN
27600,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23,1.0,23.0,23.0,23.0,STARS,NaN
27601,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24,2.0,12.0,12.0,12.0,STARS,NaN
27602,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161,6.0,26.8,17.0,31.0,STARS,NaN
27603,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57,2.0,28.5,27.0,30.0,STARS,NaN
27604,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49,2.0,24.5,22.0,27.0,STARS,NaN
27605,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237,10.0,23.7,15.0,31.0,STARS,NaN
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256,10.0,25.6,15.0,35.0,STARS,NaN
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65,2.0,32.5,32.0,33.0,STARS,NaN
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53,2.0,26.5,25.0,28.0,STARS,NaN
27609,32,K,K564,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50,2.0,25.0,25.0,25.0,STARS,NaN
27610,32,K,K564,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1

In [12]:
class_size_sat=pd.DataFrame(class_sizes["AVERAGE CLASS SIZE"])

Merge the column with info about the class size

In [13]:
sat_scores=sat_scores.join(class_size_sat)

In [29]:
sat_scores.shape

(478, 8)

In [30]:
demographics.shape

(1509, 38)

Merge demographic data (Only the one you need. Since SAT is for highschool students drop until grade 8)

In [ ]:
sat_scores=sat_scores.join(class_size_sat)

In [ ]:
demographics.columns.values

In [23]:
demog_9_to_12=demographics.drop(['prek', 'k', 'grade1', 'grade2', 'grade3',
       'grade4', 'grade5', 'grade6', 'grade7', 'grade8'], axis=1)

In [26]:
demog_9_to_12.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,grade9,grade10,grade11,grade12,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,,,,,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,,,,,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,,,,,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,,,,,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,,,,,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9

In [25]:
demog_9_to_12.dtypes

DBN                   object
Name                  object
schoolyear             int64
fl_percent            object
frl_percent          float64
total_enrollment       int64
grade9                object
grade10               object
grade11               object
grade12               object
ell_num              float64
ell_percent          float64
sped_num             float64
sped_percent         float64
ctt_num               object
selfcontained_num     object
asian_num              int64
asian_per            float64
black_num              int64
black_per            float64
hispanic_num           int64
hispanic_per         float64
white_num              int64
white_per            float64
male_num             float64
male_per             float64
female_num           float64
female_per           float64
dtype: object

In [27]:
demog_9_to_12['grade9']=demog_9_to_12['grade9'].convert_objects(convert_numeric=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [28]:
demog_9_to_12.isnull().sum()

DBN                     0
Name                    0
schoolyear              0
fl_percent           1509
frl_percent             0
total_enrollment        0
grade9               1051
grade10                 0
grade11                 0
grade12                 0
ell_num                 0
ell_percent             0
sped_num                0
sped_percent            0
ctt_num                 0
selfcontained_num       0
asian_num               0
asian_per               0
black_num               0
black_per               0
hispanic_num            0
hispanic_per            0
white_num               0
white_per               0
male_num                0
male_per                0
female_num              0
female_per              0
dtype: int64

Transform the data into the appropriate type to be able to operate with them

In [14]:
sat_scores.dtypes

DBN                                 object
SCHOOL NAME                         object
Num of SAT Test Takers              object
SAT Critical Reading Avg. Score     object
SAT Math Avg. Score                 object
SAT Writing Avg. Score              object
AVERAGE CLASS SIZE                 float64
dtype: object

In [15]:
#sat_scores["SAT Critical Reading Avg. Score"].astype(int)

In [16]:
sat_scores['SAT Math Avg. Score']=sat_scores['SAT Math Avg. Score'].convert_objects(convert_numeric=True)
sat_scores['SAT Writing Avg. Score']=sat_scores['SAT Writing Avg. Score'].convert_objects(convert_numeric=True)
sat_scores['SAT Critical Reading Avg. Score']=sat_scores['SAT Critical Reading Avg. Score'].convert_objects(convert_numeric=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  This is separate from the ipykernel package so we can avoid doing imports until

Check that the scores are now converted to floats

In [17]:
sat_scores.dtypes

DBN                                 object
SCHOOL NAME                         object
Num of SAT Test Takers              object
SAT Critical Reading Avg. Score    float64
SAT Math Avg. Score                float64
SAT Writing Avg. Score             float64
AVERAGE CLASS SIZE                 float64
dtype: object

Create a new column with the global scores for the SAT

In [18]:
sat_scores["Total_score_Avg"]=sat_scores["SAT Critical Reading Avg. Score"]+sat_scores["SAT Math Avg. Score"]+sat_scores["SAT Writing Avg. Score"]

In [19]:
sat_scores

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,AVERAGE CLASS SIZE,Total_score_Avg
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,19.0,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,21.0,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,17.0,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414.0,401.0,359.0,17.0,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,15.0,1207.0
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332.0,557.0,316.0,17.0,1205.0
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522.0,574.0,525.0,12.0,1621.0
7,01M650,CASCADES HIGH SCHOOL,18,417.0,418.0,411.0,15.0,1246.0
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624.0,604.0,628.0,13.0,1856.0
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395.0,400.0,387.0,27.0,1182.0
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409.0,393.0,392.0,9.0,1194.0
11,02M294,ESSEX STREET ACADEMY,53,394.0,384.0,378.0,NaN,1156.0
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374.0,375.0,362.0,19.5,1111.0
13,02M298,PACE HIGH SCHOOL,85,423.0,438.0,432.0,12.0,1293.0
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404.0,449.0,416.0,19.5,1269.0
15,02M303,"FACING HISTORY SCHOOL, THE",76,353.0,358.0,340.0,13.0,1051.0
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375.0,388.0,385.0,23.0,1148.0
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403.0,392.0,405.0,17.5,1200.0
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408.0,390.0,390.0,22.0,1188.0
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373.0,370.0,384.0,24.0,1127.0
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391.0,391.0,394.0,22.0,1176.0
21,02M376,NYC ISCHOOL,92,473.0,483.0,479.0,21.0,1435.0
22,02M392,MANHATTAN BUSINESS ACADEMY,s,NaN,NaN,NaN,7.0,NaN
23,02M393,BUSINESS OF SPORTS SCHOOL,s,NaN,NaN,NaN,11.0,NaN
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319.0,512.0,357.0,NaN,1188.0
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,NaN,NaN,NaN,22.3,NaN
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465.0,493.0,461.0,22.0,1419.0
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492.0,465.0,467.0,23.0,1424.0
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509.0,490.0,523.0,21.0,1522.0
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496.0,563.0,518.0,18.3,1577.0
...,...,...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524.0,568.0,544.0,33.5,1636.0
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452.0,451.0,450.0,13.0,1353.0
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398.0,412.0,385.0,29.5,1195.0
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472.0,488.0,466.0,27.0,1426.0
452,31R440,NEW DORP HIGH SCHOOL,391,424.0,437.0,416.0,6.0,1277.0
453,31R445,PORT RICHMOND HIGH SCHOOL,271,424.0,438.0,417.0,8.0,1279.0
454,31R450,CURTIS HIGH SCHOOL,375,437.0,435.0,429.0,7.0,1301.0
455,31R455,TOTTENVILLE HIGH SCHOOL,807,462.0,486.0,470.0,6.0,1418.0
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455.0,474.0,459.0,8.0,1388.0
457,31R470,CONCORD HIGH SCHOOL,10,466.0,455.0,414.0,8.0,1335.0
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416.0,422.0,397.0,8.0,1235.0
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635.0,682.0,636.0,6.0,1953.0
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405.0,375.0,370.0,NaN,1150.0
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380.0,366.0,352.0,27.7,1098.0
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,88,384.0,409.0,361.0,25.0,1154.0
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348.0,353.0,334.0,20.8,1035.0
464,32K552,ACADEMY OF URBAN PLANNING,67,342.0,364.0,354.0,19.0,1060.0
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,21.8,1315.0
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347.0,358.0,350.0,26.7,1055.0
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359.0,317.0,358.0,24.3,1034.0
468,75K371,P.S. 371 s LILLIAN L. RASHKIS,s,NaN,NaN,NaN,22.3,NaN
469,75M035,P.S. 035,s,NaN,NaN,NaN,23.0,NaN
470,75Q256,P.S. Q256,s,NaN,NaN,NaN,21.4,NaN
471,75Q811,P.S. Q811,32,429.0,444.0,433.0,19.8,1306.0
472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,s,NaN,NaN,NaN,13.0,NaN
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,NaN,NaN,NaN,27.9,NaN
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,NaN,NaN,NaN,28.0,NaN
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,NaN,NaN,NaN,20.0,NaN
476,79Q950,GED PLUS s CITYWIDE,8,496.0,400.0,426.0,17.5,1322.0
477,79X490,PHOENIX ACADEMY,9,367.0,370.0,360.0,21.7,1097.0